let mapleader=" "

set relativenumber = true

set clipboard+=unnamed

map <C-c> <Esc>
map <leader>rn <Action>(RenameElement)
map <leader>gd <Action>(Debug)
map <leader>qd <Action>(Stop)
map <leader>zz <Action>(ToggleDistractionFreeMode)

map <leader>tf <Action>(SelectInProjectView)
map <leader>aa <Action>(Annotate)
map <leader>gh <Action>(Vcs.ShowTabbedFileHistory)
map <leader>ne <Action>(GotoNextError)

map <leader>bp <Action>(ToggleLineBreakpoint)
map <leader>tt <Action>(FileStructurePopup)

map <leader>? <Action>(RecentFiles)
map <leader>/ <Action>(Find)
map <leader>sg <Action>(FindInPath)
map <leader>sf <Action>(GoToFile)
map <leader>rf <Action>(RefactoringMenu)

map dsk _d$k_i <Esc>pjddk_ 
map dxk _d$k$pjddk$
map dsj _d$j_i <Esc>pkdd_ 
map dxj _d$j$pkdd$  

map <A-S-K> ddkkp
map <A-S-J> ddp

